<h1>Listing restaurants</h1>

<table>
  <tr>
    <th>Url</th>
    <th>Name</th>
    <th>Thumbnail</th>
    <th>Genre</th>
    <th>Open hours</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= restaurant.url %></td>
    <td><%= restaurant.name %></td>
    <td><%= restaurant.thumbnail %></td>
    <td><%= restaurant.genre %></td>
    <td><%= restaurant.open_hours %></td>
    <td><%= link_to 'Destroy', restaurant, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Restaurant', new_restaurant_path %>
