<div id="container" class="oneCol">
  <div class="inner">
    <div id="main">

      <h1>New restaurant</h1>

      <%= form_for(@restaurant) do |restaurant| %>
        <% if @restaurant.errors.any? %>
          <div id="error_explanation">
            <p><%= @restaurant.errors.full_messages.first %></p>
          </div>
        <% end %>

        <div class="field">
          <%= restaurant.label :url %><br />
          <%= restaurant.text_field :url %>
        </div>
        <div class="actions">
          <%= restaurant.submit %>
        </div>
      <% end %>

      <%= link_to 'Back', restaurants_path %>

    </div><!-- // #main -->
  </div><!-- // .inner -->
</div><!-- // #container -->
