<div id="container" class="oneCol">
  <div class="inner">
    <div id="main">
      <h1 class="hdLv1">ランチで行きたいお店を登録しよう</h1>
      <div class="step">
        <dl>
          <dt>1.お店を探す</dt>
          <dd>
          <p><a href="http://tabelog.com/" target="_blank">食べログ</a></p>
          </dd>
        </dl>
        <dl class="twoCol last">
          <dt>2.お店のURLを登録する</dt>
          <dd>
          <%= form_for(@restaurant) do |restaurant| %>
            <p>
            <%= restaurant.text_field :url, id: 'shopUrl' %>
            <%= restaurant.submit id: 'shopUrlBtn', class: 'formBtn', value: '登録' %>
            </p>
            <p style="color:red"><%= @restaurant.errors.full_messages.first %></p>
            <p class="note">例 http://r.tabelog.com/tokyo/A1301/A130101/13002329/</p>
          <% end %>
          </dd>
        </dl>
      </div>
      <div class="section">
        <h2 class="hdLv2">行きたいお店リスト</h2>
        <div class="shopList">
          <ul>
            <% @restaurants.each do |restaurant| %>
              <li class="shopItem">
                <div class="shopThumb">
                  <%= image_tag(restaurant.thumbnail) %>
                </div>
                <div class="shopMeta">
                  <p class="shopgenre"><%= restaurant.genre %></p>
                  <p class="shopname"><%= restaurant.name %></p>
                </div>
              </li>
            <% end if @restaurants %>
          </ul>
        </div>
      </div>
    </div><!-- // #main -->
  </div><!-- // .inner -->
</div><!-- // #container -->
