<div id="container" class="oneCol">
  <div class="inner">
    <div id="main">

      <h1 class="hdLv1">今日のランチ</h1>
      <div class="section shopDataBox">
        <div class="thumbImg"><%= image_tag(@restaurant.thumbnail) %></div>
        <div class="shopData">
          <p class="shopganre"><%= @restaurant.genre %></p>
          <p class="shopname"><%= @restaurant.name %></p>
          <table class="shopDetail">
            <tr>
              <th>
                営業時間
              </th>
              <td>
                <%#TODO: 改行 %>
                <%= @restaurant.open_hours %>
              </td>
            </tr>
            <tr>
              <th>
                お店の詳細
              </th>
              <td>
                <p><%= link_to @restaurant.url, @restaurant.url, target: '_blank' %></p>
              </td>
            </tr>
          </table>
          <% if false %>
          <form method="post" action="">
            <div class="btnList">
              <p class="txtC"><a class="btn main" href="#">このお店に行く</a></p>
            </div>
          </form>
          <% end %>
        </div>
      </div><!-- // .section -->
    </div><!-- // #main -->
  </div><!-- // .inner -->
</div><!-- // #container -->
