<!DOCTYPE html>
<html>
  <head>
    <title>ohiru</title>

    <!-- Facebook OGP start //-->
    <meta property="og:title" content="ohiru" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://ohiru.herokuapp.com/assets/logo_l.png" />
    <meta property="og:url" content="http://ohiru.herokuapp.com" />
    <meta property="og:site_name" content="ohiru" />
    <meta property="og:description" content="気になるお店を登録しておけば、毎朝メールでランチのお店を提案します。行きたいお店のリストはあるのに、結局いつものお店に行ってしまうあなたへ。" />
    <meta property="fb:app_id" content="<%= ENV['FACEBOOK_KEY'] %>" />
    <meta property="fb:admins" content="1658118916,100000127862643" />
    <!-- Facebook OGP end //-->

    <!-- Google Analytics start //-->
    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31477912-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <!-- Google Analytics end //-->

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="fb-root"></div>
    <%# Rails.env.production? do %>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=221154891333657";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <%# end %>

    <div id="wrap">
      <div id="header">
        <div class="inner">
          <h1 id="logo"><%= link_to 'ohiru', restaurant_path %></h1>
          <div id="nav">
            <% if user_signed_in? %>
              <ul id="gloNav">
                <li><%= link_to 'お店を登録する', new_restaurant_path %></li>
                <li><%= link_to '今日のお店', restaurant_path %></li>
              </ul>
              <ul id="utilityNav">
                <li><%= current_user.first_name %> さん</li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              </ul>
            <% end %>
          </div>
        </div><!-- // .inner -->
      </div><!-- // #header -->

      <%= yield %>

      <div id="footer">
        <div class="inner">
          <div id="">
            <a href="https://github.com/Hiroyou/ohiru" target="_blank">ohiru</a>
            &copy; <a href="https://twitter.com/averagefury/" target="_blank">@averagefury</a>
            & <a href="https://twitter.com/hyshhryk/" target="_blank">@hyshhryk</a>
            powered by <a href="http://www.heroku.com/" target="_blank">heroku</a>
          <div>
          <div class="fb-like" data-send="false" data-width="450" data-show-faces="true"></div>

          <div id="copyright"></div>
          <ul class="ftLink"></ul>
        </div><!-- // .inner -->
      </div><!-- // #footer -->
    </div><!-- // #wrap -->

  </body>
</html>
