<!DOCTYPE html>
<html>
  <head>
    <title>ohiru</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="wrap">
      <div id="header">
        <div class="inner">
          <h1 id="logo"><%= link_to 'ohiru', restaurant_path %></h1>
          <div id="nav">
            <% if user_signed_in? %>
              <ul id="gloNav">
                <% unless params['controller'] == 'restaurants' &&
                  (params['action'] == 'new' || params['action'] == 'create') %>
                  <li><%= link_to 'お店を登録する', new_restaurant_path %></li>
                <% end %>
              </ul>
              <ul id="utilityNav">
                <li><%= current_user.first_name %> さん</li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
              </ul>
            <% end %>
          </div>
        </div><!-- // .inner -->
      </div><!-- // #header -->

      <%= yield %>

      <div id="footer">
        <div class="inner">
          <div id="copyright">&copy; ohiru.</div>
          <ul class="ftLink">
            <li>お問い合わせ:<a href="https://twitter.com/hyshhryk/" target="_blank">@hyshhryk</a>,<a href="https://twitter.com/averagefury/" target="_blank">@averagefury</a></li>
          </ul>
        </div><!-- // .inner -->
      </div><!-- // #footer -->
    </div><!-- // #wrap -->

  </body>
</html>
